@{
    var product = ViewBag.Product;
}
@if (product == null)
{
    <h1 style="color: red">Товар не найден!</h1>
}
else
{
    <h1 class="page-title">Catalog/@product.Category</h1>
    <div class="product-info">
        <img src="~/Data/Uploads/Images/@product.Images[0]" />
        <div class="product-info-text">
            <input type="hidden" class="id" value="@product.ID" />
            <h1>@product.Name</h1>
            <p>@product.Description</p>
            <span>@product.Cost Р</span>
            <span>@product.GoodsRemain шт. осталось</span>
            <button class="buy-button">BUY</button>
        </div>
    </div>
    <style>
        .page-title {
            text-align: center;
            margin-bottom: 20px;
        }
        .product-info {
            display: flex;
            justify-content: center;
            align-items: center;
        }
            .product-info img {
                max-height: 600px;
            }
        .product-info-text {
            margin-left: 100px;
        }
        .product-info-text h1 {
            font-size: 50px;
        }
        .product-info-text p {
            font-size: 26px;
        }
        .product-info-text span {
            display: block;
            font-size: 20px;
            margin-bottom: 10px;
        }
    </style>
    <script>
        document.querySelector(".buy-button").addEventListener("click", () => {
            const id = document.querySelector(".id").value;
            var xhr = new XMLHttpRequest();
            xhr.open("GET", `/Basket/AddProduct/?id=${id}`, true);
            xhr.setRequestHeader("Content-Type", "text/json");
            xhr.onreadystatechange = function () {
                if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                    console.log(xhr.response);
                    let response = JSON.parse(xhr.response);
                    if (response.status == "success") {
                        alert("Успех");
                    } else {
                        if (response.error == "user are not logged in!") {
                            location.href = "/Auth/Login";
                        }
                        else {
                            alert(response.error);
                        }
                    }
                }

            }

            xhr.send(null);
        });
    </script>
}
